<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="frozenyogurtbuilder.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FrozenYogurtTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecipeGallery"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderFinal"
            android:parentActivityName=".OrderProcess"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderProcess"
            android:parentActivityName=".OrderChoosePricing"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RecipeDetail"
            android:parentActivityName=".RecipeGallery"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderChoosePricing"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Fragment_ingredient" />
        <activity
            android:name=".Qrcode_generator"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Share_order"
            android:screenOrientation="portrait"
            android:configChanges="orientation" />
        <activity
            android:name=".Impressum"
            android:screenOrientation="portrait" />
    </application>

</manifest>